form(method="post", action="/register")
  h1 Register
  if errors.length > 0
    ul
      for error in errors
        li= error
  div
    label(for="screenName") Screen Name
    input(type="text", name="screenName", value=screenName)
  div
    label(for="email") Email
    input(type="text", name="email", value=email)
  div
    label(for="password") Password
    input(type="password", name="password", value=password)
  div
    label(for="confirmPassword") Confirm Password
    input(type="password", name="confirmPassword", value=confirmPassword)
  div.action
    input(type="submit",value="Register")
